  @font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
  }
   @font-face {
    font-family: RobotoLightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
  }
   @font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto-Black.ttf);
  }
   @font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto-Light.ttf);
  }
  :root{
    --dark-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --button_color: #3882F6;
  }
.main-information-locations{
    margin-bottom: 90px;
    background-color: var(--hero-secondary-text-color);    
}
.main-information-locations div.locations{           
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 90px 100px;
} 
.main-information-locations div.locations div{           
    color: var(--dark-color);
    font-family: 'RobotoLightItalic', sans-serif;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
.main-information-locations div.locations div a{           
    text-decoration: none;
    color: var(--button_color);
    font-family: 'RobotoLightItalic', sans-serif;
}
.main-information-locations div.locations div p{           
    font-size: 25px;
    font-family: 'RobotoBlack', sans-serif;
}