@font-face {
font-family: RobotoRegular;
src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
font-family: RobotoLightItalic;
src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
font-family: RobotoBlack;
src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
font-family: RobotoLight;
src: url(../fonts/Roboto-Light.ttf);
}
:root{
--dark-color: #1F2937;
--hero-main-text-color: #F9FAF8;
--hero-secondary-text-color: #E5E7EB;
--button_color: #3882F6;
}
*{
    margin: 0 auto;
    font-family: 'RobotoRegular';
}
h1{
    font-family: 'RobotoBlack';
    font-size: 48px;
    font-weight: bold;
    color: var(--hero-main-text-color);
}
h2{
    font-family: 'RobotoBlack';
}
h3{
    margin: 0 auto;
}
footer{
    background-color: var(--dark-color);
    text-align: center;
    font-size: 20px;
    font-weight: light;
    color: var(--hero-main-text-color);
    padding: 40px 0;
}
footer h5{
    font-family: 'RobotoLight';
}
header.header{
    background-color: var(--dark-color);
    padding: 15px 300px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    margin: 0;    
}
.header-logo a{
    text-decoration: none;
    color: var(--hero-main-text-color);
    font-size: 24px;
}
.header-links-container{
    margin: 0;
}
.header-link{
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}
.active{
    font-weight: bold;
}
main.main-information section.hero-main-plot{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 45px;
    background-color: var(--dark-color);
    padding: 90px 300px 125px 300px;
}
main.main-information section.hero-main-plot div.hero-main-plot-left-side{
    display: flex;
    flex-direction: column;  
    padding: 0;
    padding-right: 260px;
    width: 50%;
    line-height: 1.4;
}
main.main-information section.hero-main-plot div.hero-main-plot-left-side p{
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}
main.main-information section.hero-main-plot div.hero-main-plot-left-side button{
    margin-left: 0;
    margin-top: 10px;
    color: var(--hero-main-text-color);
    background-color: var(--button_color);
    padding: 5px 30px;
    border: 1px solid var(--button_color);
    border-radius: 8px;
    font-size: 18px;
    font-family: 'RobotoBlack';
}
main.main-information section.hero-main-plot div.hero-main-plot-left-side button:hover{
    color: var(--button_color);
    background-color: var(--hero-main-text-color);
    border: 1px solid var(--hero-main-text-color);
    transition: all 200ms ease-in-out;
}
main.main-information section.hero-main-plot img.hero-main-plot-right-side{
    width: 50%;
}  
main.main-information section.main-information-content h2{
    text-align: center;
    font-size: 36px;
    color: var(--dark-color);
    margin-bottom: 30px;
}
main.main-information section.main-information-content div.main-information-images-container {
    margin: 0 300px 90px 300px; 
    padding: 0 255px;
    display: flex;
    justify-content: center;    
}
main.main-information section.main-information-content div.main-information-images-container figure{
    margin: 0;   
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    text-align: center;
}
main.main-information section.main-information-content div.main-information-images-container figure img{    
    border: 3px solid var(--button_color);
    border-radius: 10px;
    width: 150px;
    height: auto;
}
main.main-information section.main-information-content div.main-information-images-container figure img:hover{    
    transform: scale(1.2);
    transition: all 200ms ease;
}
main.main-information section.main-information-content div.main-information-images-container figure figcaption p{    
    margin-top: 5px;
    color: var(--dark-color);
}
section.main-information-quote{
    background-color: var(--hero-secondary-text-color);    
    padding: 100px 550px;
    margin-bottom: 90px;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
}
section.main-information-quote blockquote.quote{
    font-size: 36px;
    font-family: 'RobotoLightItalic';
    text-align: start;
    margin-bottom: 20px;
} 
section.main-information-quote cite.signature{
    font-weight: bold;
    font-size: 20px;
    margin-right: 0;
    font-style: normal;
}
section.main-information-call-for-action{
    background-color: var(--button_color);
    color: var(--hero-main-text-color);
    border-radius: 9px;
    margin: 0 300px 90px 300px;
    padding: 50px 100px;
    font-size: 22px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}
section.main-information-call-for-action div h4,
section.main-information-call-for-action div p {
    margin: 0;
}
section.main-information-call-for-action p{
    font-size: 18px;
}
section.main-information-call-for-action button{
    color: var(--hero-main-text-color);
    background-color: var(--button_color);    
    padding: 8px 30px;
    border: 2px solid var(--hero-main-text-color);
    border-radius: 7px;
    line-height: 1;
    font-size: 15px;
    font-family: 'RobotoBlack';
}
section.main-information-call-for-action button:hover{
    color: var(--button_color);
    background-color: var(--hero-main-text-color);
    border: 2px solid var(--hero-main-text-color);
    transition: all 200ms ease-in-out;
}